@model IEnumerable<FoodPack2Go.Core.AboutUsModel>

@{
    ViewData["Title"] = "ABOUT US";
}

<h2>@ViewData["Title"]</h2>
<hr />

@if (TempData["successmessage"] != null)
{
    <div class="alert alert-success" id="successMessage">
        @TempData["successmessage"]
    </div>
}

@if (TempData["errormessage"] != null)
{
    <div class="alert alert-danger" id="errorMessage">
        @TempData["errormessage"]
    </div>
}

<script>
    // Timeout to hide success message after 5 seconds
    setTimeout(function () {
        $('#successMessage').fadeOut('fast');
    }, 5000);

    // Timeout to hide error message after 5 seconds
    setTimeout(function () {
        $('#errorMessage').fadeOut('fast');
    }, 5000);
</script>



<form>
    <button asp-action="Create" asp-controller="AboutUs" class="btn btn-dark mb-3">ADD</button>

    <div style="max-height: 400px; overflow: auto;">
        <table class="table table-bordered table-responsive table-hover" id="vc">
            <thead>
                <tr class="table-active">
                    <th>AboutUsId</th>
                    <th>Title</th>
                    <th>Ashortdescription</th>

                    <th>Description</th>
                    <th>Button Text</th>
                    <th>Total Customers</th>
                    <th>Sold Products</th>
                    <th>Awards</th>
                    <th>About Image</th>
                    <th>Additional Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (var aboutUs in Model)
                    {
                        <tr>
                            <td>@aboutUs.AboutUsId</td>
                            <td>@aboutUs.Title</td>
                            <td>@aboutUs.Ashortdescription</td>

                            <td>@aboutUs.ADescription</td>
                            <td>@aboutUs.ButtonText</td>
                            <td>@aboutUs.TotalCustomer</td>
                            <td>@aboutUs.SoldProduct</td>
                            <td>@aboutUs.Awards</td>
                            <td><img src="/assets/images/@aboutUs.AboutImage" alt="About Image" /></td>
                            <td><img src="/assets/images/@aboutUs.AboutImage2" alt="Additional Image" /></td>
                            <td class="center">
                                <div class="btn-group btn-group-sm">
                                    <a asp-action="Edit" asp-controller="AboutUs" asp-route-id="@aboutUs.AboutUsId"
                                       class="btn btn-warning">Edit </a>
                                    <a asp-action="Delete" asp-controller="AboutUs" asp-route-id="@aboutUs.AboutUsId"
                                       class="btn btn-danger">Delete </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="10">
                            <div>NO INFORMATIONS AVAILABLE !!!!!!!!!!!!</div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>





@section Scripts {
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#vc').DataTable();
        });
    </script>
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">